@{
  Layout = null;
}

<!DOCTYPE html>
<head>
  <link href="../assets1/css/style.css" rel="stylesheet">
</head>
<html>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <style>
  body {font-family: "Raleway", Arial, sans-serif}
  .w3-row img {margin-bottom: -8px}
  </style>
  <body>


    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Order status</h2>
            <br>
            <p style="font-size: 20px">Congrats <br> <a href="/" class="w3-left w3-button w3-white" style="font-size: 35px">The order has been placed. </a></p>
          </div>

        </div>

      </section>
    

  </body>
</html>
