@page
@model IndexModel
@{
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
       
              
              
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
              
    <!-- Vendor CSS Files -->
    <link href="~/address/style.css" rel="stylesheet">
</head>

<form id="profile-form" method="post">
    <div class="container">
        <h1>Your profile</h1>
        
    <p><a href="/" style="text-decoration: none; color: var(--color-gray);"> < Back to home page.</a></p>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <div class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="fields fields--2">
           
             
                <label class="field" asp-for="Username">
                    <span asp-validation-for="Username" class="field__label">Your email</span>
                    @Html.TextBoxFor(x => x.Username, new {@class = "field__input"})
                </label>
             
                <div class="field">
                    <span asp-validation-for="Input.PhoneNumber" class="field__label">Your phone number</span>
                    @Html.TextBoxFor(x => x.Input.PhoneNumber, new {@class = "field__input"})
                </div>
                <button id="update-profile-button" type="submit" class="button">Save</button>
        
            </div>
        </div>
    </div>
</form>

