

@{
    ViewBag.Title = "title";
    Layout = null;
}

<head>
      
        	<!-- Facebook and Twitter integration -->
      	<meta property="og:title" content=""/>
      	<meta property="og:image" content=""/>
      	<meta property="og:url" content=""/>
      	<meta property="og:site_name" content=""/>
      	<meta property="og:description" content=""/>
      	<meta name="twitter:title" content="" />
      	<meta name="twitter:image" content="" />
      	<meta name="twitter:url" content="" />
      	<meta name="twitter:card" content="" />
      
      	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      	<link rel="shortcut icon" href="favicon.ico">
      	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
      	<!-- <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet"> -->
      	
      	<!-- Animate.css -->
      	<link rel="stylesheet" href="../css1/animate.css">
      	<!-- Icomoon Icon Fonts-->
      	<link rel="stylesheet" href="../css1/icomoon.css">
      	<!-- Bootstrap  -->
      	<link rel="stylesheet" href="../css1/bootstrap.css">
      	<!-- Theme style  -->
      	<link rel="stylesheet" href="../css1/style.css">
      
      	<!-- Magnific Popup -->
      	<link rel="stylesheet" href="../css1/magnific-popup.css">
      
      	<!-- Modernizr JS -->
      	<script src="../../js1/modernizr-2.6.2.min.js"></script>
      	<!-- FOR IE9 below -->
      	<!--[if lt IE 9]>
      	<script src="../../js1/respond.min.js"></script>
      	<![endif]-->
      
</head>



<html>
	
	<body>
	

	<div id="fh5co-page">
	
	<div class="aside-toggle btn-circle">
		<a href="#"><span></span><em>About</em></a>
	</div>
	<div class="back-to-home btn-circle">
		<a href="../home"><span></span><em>Back</em></a>
	</div>

	<div id="fh5co-aside">
		<div class="image-bg"></div>
		<div class="overlay"></div> 
		<div class="row">
			<div class="col-md-12">
				<div id="fh5co-aside-inner">
					<div class="row" id="fh5co-bio">
						<div class="col-md-12">
							<h2>About Me</h2>
						</div>
						<div class="col-md-6">
							<p>Sint, <a href="#">consectetur</a>, fugit. Sed, blanditiis. Autem quae perferendis totam provident, consequuntur inventore reiciendis vitae suscipit rerum repellendus facere voluptatem tenetur iure praesentium corrupti asperiores eos laborum debitis eaque maiores magnam nisi exercitationem sunt maxime! At eligendi deserunt, iusto natus molestias!</p>
						</div>
						<div class="col-md-6">
							<p>Quas praesentium dolore unde delectus, nemo accusantium, qui ab illum debitis assumenda tempore molestias ipsam, eveniet repellendus officiis in vel, explicabo quos necessitatibus atque doloremque. Quae maiores delectus, magnam nam.</p>
						</div>
						<div class="col-md-12 fh5co-social">
							<a href="#"><i class="icon-envelope"></i></a>
							<a href="#"><i class="icon-twitter"></i></a>
							<a href="#"><i class="icon-linkedin"></i></a>
							<a href="#"><i class="icon-instagram"></i></a>
							<a href="#"><i class="icon-google-plus"></i></a>
						</div>
						<div class="col-md-12" style="margin-top: 40px;">
							<p>&copy; 2016 Free HTML5 Template. All Rights Reserved. Designed by <a href="http://gettemplates.co/">GetTemplates</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="fh5co-image-grid">
		

		<div class="grid">
		  <div class="grid-sizer"></div>

		 @{
			 var productsList = ViewData["products"] as List<Product>;
			 foreach (var product in productsList)
			 {
				 <div class="grid-item item animate-box" data-animate-effect="fadeIn">
					 <a href=@product.ImageUrl class="image-popup" title=@product.Name>
						 <div class="img-wrap">
							 <img src=@product.ImageUrl alt="" class="img-responsive">
						 </div>
						 <div class="text-wrap">
							 <div class="text-inner popup">
								 <div>
									 <h2>@product.Name</h2>
									 <h3>@product.Price</h3>
									 <button> Add to cart</button>
								 </div>
							 </div>
						 </div>
					 </a>
				 </div>
			 }
		 }

		  
		  
		  

		</div>

		
	</div>

	</div>
	
	<!-- jQuery -->
	<script src="../../js1/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../../js1/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../js1/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../js1/jquery.waypoints.min.js"></script>

	<!-- Magnific -->
	<script src="../js1/jquery.magnific-popup.min.js"></script>
	<script src="../js1/magnific-popup-options.js"></script>
	<!-- Isotope & imagesLoaded -->
	<script src="../js1/isotope.pkgd.min.js"></script>
	<script src="../js1/imagesloaded.pkgd.min.js"></script>
	<!-- GSAP  -->
	<script src="../js1/TweenLite.min.js"></script>
	<script src="../js1/CSSPlugin.min.js"></script>
	<script src="../js1/EasePack.min.js"></script>

	<!-- MAIN JS -->
	<script src="../js1/main.js"></script>

	</body>
</html>



}
