@model Product
@{
    Layout = null;
}


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
   
          
          
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
          
    <!-- Vendor CSS Files -->
    <link href="/address/style.css" rel="stylesheet">
          
</head>

@using (Html.BeginForm())
{
    <div class="container">
        <p>Edit Products</p>
    
        <div class="form">
    
            <div class="fields fields--2">
                <label class="field">
                    <span class="field__label" for="firstname">Product Name</span>
                    @Html.TextBoxFor(x => x.Name, new { @class = "field__input" })
                </label>
        
                <label class="field">
                    <span class="field__label" for="firstname">Product Price</span>
                    @Html.TextBoxFor(x => x.Price, new {@class = "field__input"})
                </label>
        
                <label class="field">
                    <span class="field__label" for="firstname">Image Url</span>
                    @Html.TextBoxFor(x => x.ImageUrl, new {@class = "field__input"})
                </label>
        
       
            </div>
      
               
        </div>
     
  
        <hr>
        <button class="button">Add</button>
    </div>
}